*{
	margin: 0px;
}
.title-name{
    text-align: center;
    padding-top: 58px;
    margin-left: 246px;
    color: #3f4c3f;
}
body{
	font-family: 'Anton', sans-serif;
	background: url(../img/background.png) no-repeat;
	background-size: cover;
	display: block;
	

	
}

.container{
	margin: 16% auto;
    width: 576px;
    height: 322px;
    margin-top: 10px;
	
	
}
.heading{
	text-align: center;

}
.login-section{
	background-color: #6b6b47;
    padding: 20px;
    border-radius: 5px;
    height: 420px;
    width: 314px;
    margin-left: 233px;
    margin-bottom: 121px;

}
.login-section img{
	width: 125px;
    height: 125px;
    display: block;
    margin: -2px auto;
    margin-top: 17px;
}
.login-section h3{
	text-align: center;
	padding: 20px 0px;
	color: #02020288;

}
.form-control{
	width: 90%;
    height: 35px;
    padding: 0px 20px;
    margin-bottom: 20px;
    border-radius: 11px;
}
.login{
	background-color: #ecf3ec;
	text-align: center;
	padding: 8px 22px;
	border-radius: 5px;
	display: block;
	margin: 0 auto;

}
.singup{
    background-color: #ecf3ec;
    text-align: center;
    padding: 7px 27px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 23px;
}
